/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
html {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*Basic font/layout info*/
html {
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
	text-rendering: optimizeLegibility;
	text-align:justify;
	font-size: 1.125em; /*18 / 16 = 1.125 */
	line-height: 1.222222em; /*21.6 / 18 = 1.2 */
	max-width: 100%;
}

h1,h2,h3,h4 {
 font-size: 2.778em; /* 50.02 px/ 18px = 2.778 */;
 line-height: 1.319em; /* 66px / 50.02px = 1.319em; 3 gridlines (2) */
 text-align: center;
 padding-bottom: 1.2222em;
 padding-top:1.22222em;
 font-family:'Alice', serif;
}

img {
	display: block;
	max-width: 100%;
	margin:auto;
	padding-bottom: 1.22222em;
}
.img-circle{
	display: block;
	max-width: 100%;
	margin:auto;
	padding-bottom: 1.22222em;
  border-radius:50%;
}
p,li{
  text-align:justify;
	display:block;
	padding-bottom: 1.222222em;
	font-family:"Lato", arial, sans-serif;
}


/*section layout*/

section {
  padding-left:15%;
	padding-right:15%;
  display: table;
  margin: 0;
  background-color: #FDFDFD;
  height: 90vh;
}
section:nth-of-type(2n) {
  background-color:#9EBE56
}

h2, h4{color:#FDFDFD}

p{
	color: black;
}
p:nth-of-type(2n){color:#FDFDFD}

li{color:#FDFDFD}

	.intro{
	color:black;
	text-align:center;
}

#navigation a{
	display:block;
	width: 100%;
	color: white;
  font-weight: bold;
  text-decoration: none;
	margin: 0px;
}
#navigation li {
  width: 33.333333%;
  float: left;
	list-style-type: none;
	text-align: center;
	padding-top: 0;
}

a{
	background-color:#9EBE56;
}

/*media queries*/
@media screen and (min-width: 280px) {
  html{
		font-size:1.0000em;
	  line-height:1.2em;}
	h1,h2,h3,h4{font-size:1.8em}
	section{
		width:90%;
		padding-left:5%;
		padding-right:5%;
}

@media screen and (min-width:350px){
	html{
		font-size:1.2em;
		line-height:1.3em;}
	h1,h2,h3,h4{font-size:2.0em}
	section{
		width:80%;
		padding-left:10%;
		padding-right:10%;
}
}
@media screen and (min-width:850px){
	html{
		font-size:1.2em;
		line-height:1.3em;}
	h1,h2,h3,h4{font-size:3.0em}
	section{
		width:80%;
		padding-left:10%;
		padding-right:10%;
}
}
@media screen and (min-width:1400px){
	html{
		font-size:1.4em;
		line-height:1.5em;}
	h1,h2,h3,h4{font-size:3.5em}
	section{
		width:70vw;
		padding-left:15%;
		padding-right:15%;
}
}

/*Contact section (made using perfecticons.com, since I don't know how to make them myself)*/
@font-face {
    font-family: 'si';
    src: url('icons/socicon.eot');
    src: url('icons/socicon.eot?#iefix') format('embedded-opentype'),
         url('icons/socicon.woff') format('woff'),
         url('icons/socicon.ttf') format('truetype'),
         url('icons/socicon.svg#icomoonregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family:si;
        src: url(PATH_TO/socicon.svg) format(svg);
    }
}

.soc {
    overflow:hidden;
    margin:0; padding:0;
    list-style:none;
}

.soc li {
    display:inline-block;
    *display:inline;
    zoom:1;
}

.soc li a {
    font-family:si!important;
    font-style:normal;
    font-weight:400;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;
    overflow:hidden;
    text-decoration:none;
    text-align:center;
    display:block;
    position: relative;
    z-index: 1;
    width: 70px;
    height: 70px;
    line-height: 70px;
    font-size: 44px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-right: 10px;
    color: #ffffff;
    background-color: none;
}

.soc-icon-last{
    margin:0 !important;
}

.soc-linkedin {
    background-color: #3371b7;
}
.soc-linkedin:before {
    content:'\e049';
}
.soc-mail {
    background-color: #000000;
}
.soc-mail:before {
    content:'\e01f';
}
.soc-github {
    background-color: #221e1b;
}
.soc-github:before {
    content:'\e030';
}
